{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contact</title>
    <link rel="stylesheet" type="text/css" href="{% static 'mainwebsite/css/main.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
          integrity="sha256-eZrrJcwDc/3uDhsdt61sL2oOBY362qM3lon1gyExkL0=" crossorigin="anonymous"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

</head>
<body>
<div class="header" id='topheader'>
    <nav class="navbar navbar-expand-lg fixed-top">
        <div class="container text-uppercase p-2">

            <a class="navbar-brand font-weight-bold text-white" href="#">Social Activist</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto text-uppercase">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="#servicediv">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'gallary' %}">Gallary</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#contactid">Contact Us</a>
                    </li>


                </ul>

            </div>
        </div>
    </nav>
    <section class="headersection">
        <div class="center-div">
            <h1 class="font-weight-bold">We are Social Activist</h1>
            <p>We feed to poor people</p>
            <div class="header-buttons">
                <a href="#"> About Us</a>
                <a href="#">Contact Us</a>
            </div>
        </div>
    </section>
</div>
<!-- header completed  ------------------------------------->

<!-- Three extra header-- started -->
<section class="header-extradiv">
    <div class="container">
        <div class="row">
            <div class="extradiv col-lg-4 col-md-4 col-12">
                <a href="#"><i class="fa-3x fa fa-child" aria-hidden="true"></i></a>
                <h2>EDUCATION</h2>
                <p>sit amet, consectetuer adipiscing elit. break Aenean commodo ligula eget dolor. Aenean massa,
                    Cum sociis natoque penatibus </p>

            </div>
            <div class="extradiv col-lg-4 col-md-4 col-12">
                <a href="#"><i class="fa-3x fa fa-wheelchair-alt" aria-hidden="true"></i></a>
                <h2>DISADVANTAGE GROUPS</h2>
                <p> sit amet, consectetuer adipiscing elit. break Aenean commodo ligula eget dolor. Aenean massa, Cum
                    sociis natoque penatibus</p>
            </div>
            <div class="extradiv col-lg-4 col-md-4 col-12">
                <a href="#"><i class="fa-3x fa fa-medkit" aria-hidden="true"></i></a>
                <h2>HEALTH</h2>
                <p> sit amet, consectetuer adipiscing elit. break Aenean commodo ligula eget dolor. Aenean massa, Cum
                    sociis natoque penatibusreak Aenean commodo ligula eget dolor. Aenean massa, Cum sociis natoque
                    penatibus</p>
            </div>
        </div>
    </div>
</section>

<!----------------------  extra heder completed -->
<!-- service offer -->
<section class="serviceoffers" id="servicediv">
    <div class="container headings text-center">
        <h1 class="text-center font-weight-bold">Intervention Area</h1>
        <p class="text-center">it amet, consectetuer adipiscing elit. break Aenean commodo </p>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-10 offset-1 offset-lg-0">

                <div class="col-lg-6 col-md-12 col-12 col-12 servicediveee">

                <div class="row">

                    <div class="col-lg-2 col-2 service-icons">
                        <i class="fa-3x fa fa-dot-circle-o" aria-hidden="true"></i>
                    </div>
                    <div class="names my-3">
                        <h2>Mission</h2>
                        <p>sociis natoque penatibusreak Aenean commodo ligula eget dolor. Aenean haha hahaha dbg c dajcnjac</p>
                    </div>
                </div>

                <div class="row">

                    <div class="col-lg-2 col-2 service-icons">
                        <i class="fa-3x fa fa-eye" aria-hidden="true"></i>
                    </div>
                    <div class="names my-3">
                        <h2>Vision</h2>
                        <p>sociis natoque penatibusreak Aenean commodo ligula eget dolor. Aenean </p>
                    </div>
                </div>

            </div>

        </div>
            <div class="col-lg-6 col-md-12 col-12 servicediveee">

                <div class="row">

                    <div class="col-lg-2 col-2 service-icons">
                        <i class="fa-3x fa fa-users" aria-hidden="true"></i>
                    </div>
                    <div class="col-lg-10 col-10">
                        <h2>Community Development</h2>
                        <p>sociis natoque penatibusreak Aenean commodo ligula eget dolor. Aenean </p>
                    </div>
                </div>

                <div class="row">

                    <div class="col-lg-2 col-2 service-icons">
                        <i class="fa-3x fa fa-female" aria-hidden="true"></i>
                    </div>
                    <div class="col-lg-10 col-10">
                        <h2>Woman Empowerment</h2>
                        <p>sociis natoque penatibusreak Aenean commodo ligula eget dolor. Aenean </p>
                    </div>
                </div>

                <div class="row">

                    <div class="col-lg-2 col-2 service-icons">
                        <i class="fa-3x fa fa-user-circle-o" aria-hidden="true"></i>
                    </div>
                    <div class="col-lg-10 col-10">
                        <h2>Human Rights</h2>
                        <p>sociis natoque penatibusreak Aenean commodo ligula eget dolor. Aenean </p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<!-- service offer end -->
<!-- outreach started --->

<section class="projectwork" id="servicedivee">
    <div class="container headings text-center">
        <p class="text-center font-weight-bold"> OUTREACH </p>

    </div>
    <div class="container d-flex justify-content-around align-item-center text-center">
        <div>
            <h1 class="count"> 4000 </h1>
            <p>Healped children</p>
        </div>
        <div>
            <h1 class="count"> 500 </h1>
            <p>HH benifited</p>
        </div>
        <div>
            <h1 class="count"> 100 </h1>
            <p>Ration/Food distribution</p>
        </div>
        <div>
            <h1 class="count"> 700 </h1>
            <p>Child helped</p>
        </div>

    </div>

</section>
<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center mb-5 pb-3">
            <div class="col-md-7 heading-section ftco-animate text-center">
                <h2 class="mb-4">Latest Donations</h2>
                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live
                    the blind texts.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 d-flex mb-sm-4 ftco-animate">
                <div class="staff">
                    <div class="d-flex mb-4">

                        <a class="img">
                            <img src="{% static 'mainwebsite/images/person_1.jpg' %}" width="100" height="100">
                        </a>

                        <div class="info ml-4">
                            <h3><a href="teacher-single.html">Ivan Jacobson</a></h3>
                            <span class="position">Donated Just now</span>
                            <div class="text">
                                <p>Donated <span>$300</span> for <a href="#">Children Needs Food</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 d-flex mb-sm-4 ftco-animate">
                <div class="staff">
                    <div class="d-flex mb-4">

                        <img src="{% static 'mainwebsite/images/person_2.jpg' %}" width="100" height="100">
                        </a>
                        <div class="info ml-4">
                            <h3><a href="teacher-single.html">Ivan Jacobson</a></h3>
                            <span class="position">Donated Just now</span>
                            <div class="text">
                                <p>Donated <span>$150</span> for <a href="#">Children Needs Food</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 d-flex mb-sm-4 ftco-animate">
                <div class="staff">
                    <div class="d-flex mb-4">
                        <a class="img">
                            <img src="{% static 'mainwebsite/images/person_3.jpg' %}" width="100" height="100">
                        </a>
                        <div class="info ml-4">
                            <h3><a href="teacher-single.html">Ivan Jacobson</a></h3>
                            <span class="position">Donated Just now</span>
                            <div class="text">
                                <p>Donated <span>$250</span> for <a href="#">Children Needs Food</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-------------- donation completed -->
<!-- contact us started -->
<section class="contactus" id="contactid">
    <div class="container headings text-center">
        <h1 class="text-center font-weight-bold"> Contact Us </h1>
        <p class="text-center font-weight-bold"> Share your thoughts! :) </p>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-10 offset-lg-2 offset-md-2 col-1">

                <form>
                    <div class="form-group">
                        <input type="test" class="form-control" id="username" required autocomplete="off"
                               placeholder="Enter Your Name">

                    </div>

                    <form>
                        <div class="form-group">
                            <input type="email" class="form-control" id="exampleInputEmail1" required
                                   autocomplete="off" placeholder="Enter Your Email-ID">

                        </div>

                        <form>
                            <div class="form-group">
                                <input type="number" class="form-control" id="mobile" required autocomplete="off"
                                       placeholder="Enter Your Mobile Number">

                            </div>
                            <div class="form-group">

                                <textarea class="form-control" rows="4" id="comment"
                                          placeholder="Enter Your message"></textarea>
                            </div>
                            <div class="d-flex justify-content-center form-button">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </form>
                    </form>
                </form>
            </div>
        </div>
    </div>
</section>
<!-- contact Us completed -->


<!--Footer started      -->
<footer class="footersection" id="footerdiv">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-12 footer-div text-center">
                <div>
                    <h3>
                        ABOUT Social Activist
                    </h3>
                    <p>
                        SAC FOUNDATION is for everyone. We are planned to serve needy people
                    </p>
                </div>

            </div>

            <div class="col-lg-4 col-md-6 col-12 footer-div text-center">
                <div>
                    <h3>
                        NAVIGATION LINKS
                    </h3>
                    <li><a href="#">HOME</a></li>
                    <li><a href="#">Aout Us</a></li>
                    <li><a href="#">Gallary</a></li>
                </div>

            </div>


            <div class="col-lg-4 col-md-12 col-12 footer-div t">
                <div>
                    <h3>
                        FOLLOW US!
                    </h3>
                    <div class="col-lg-3 col-mg-12 col-12">
                        <li><a href="#"><img src="{% static 'mainwebsite/images/facebook.png' %}" width="30"
                                             height="30"></a></li>
                        <li><a href="#"><img src="{% static 'mainwebsite/images/youtube.png' %}" width="30" height="30"></a>
                        </li>
                    </div>

                </div>

            </div>

        </div>
    </div>
</footer>


<footer class="footersection1" id="footerfdiv">

    <div class="container">
        <div class="row">

        </div>
        <div class="mt-5 text-center">
            <p>Copyright @2020 All rights reserved | This template is made in qurantine by Meet Thaker</p>
        </div>
        <div class="scrolltop flot-right">
            <i class="fa fa-arrow-up" onclick="topFunction()" id="myBtn"></i>

        </div>
    </div>
</footer>

<!--Footer end      -->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/noframework.waypoints.min.js"
        integrity="sha256-XJuslujM3cGzRZGiSi/KNSdk58uORO/mmrEQNjVtb5k=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Counter-Up/1.0.0/jquery.counterup.min.js"
        integrity="sha256-JtQPj/3xub8oapVMaIijPNoM0DHoAtgh/gwFYuN5rik=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

<script>
     $('.count').counterUp({
                delay: 10,
                time: 30000
            });
      Get the button:
mybutton = document.getElementById("myBtn");

// When the user scrolls down 20px from the top of the document, show the button
window.onscroll = function() {scrollFunction()};

function scrollFunction() {
  if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
    mybutton.style.display = "block";
  } else {
    mybutton.style.display = "none";
  }
}

// When the user clicks on the button, scroll to the top of the document
function topFunction() {
  document.body.scrollTop = 0; // For Safari
  document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
}


</script>
</body>
</html>